<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html,body{
            background-color: rgb(233, 255, 151);
            color: white;
        }
        .categoryDiv{
            background-color: rgb(255, 163, 143);
            text-align: center;
            border-radius: 10rem;
        }
        .questionDiv{
            width: 60%;
            margin-top: 20px;
            margin-left: 20%;
            padding: 10px;
            border-radius: 10px;
            background-color: rgb(255, 209, 142);
            justify-content: center;
            text-align: center;
        }
        input[type='radio']:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: rgb(255, 163, 143);
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid rgb(255, 255, 255);
        }
        input[type='radio']:checked:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: #ffa500;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid rgb(255, 255, 255);
        }
        .submitDiv{
            width: 100%;
            background-color: transparent;
            justify-content: center;
            text-align: center;
            margin-top: 20px;
        }
        .submitQuiz{
            position: relative;
            margin-top: 20px;
            margin-left: 47%;
            justify-content: center;
            text-align: center;
            background-color: rgb(255, 126, 226);
            width: 60px;
            margin: auto;
            border-radius: 10rem;
            color: white;
            border-color: white;
        }
    </style>
</head>
<body>
    <div class="categoryDiv">
        <h1><%=category%></h1>
    </div>
    <form id="quizForm" action="/selectedtrivia/submit" method="get">
        <% for(let i = 0; i < questionsArray.length; i++) { %>
            <div class="questionDiv">
                <h2><%= questionsArray[i].question %></h2>
                <input type="hidden" name="questionsArray[]" value='<%= JSON.stringify(questionsArray[i].question) %>'>
                <input type="hidden" name="questionsAnswers[]" value='<%= JSON.stringify(questionsArray[i].correctAnswer) %>'>
                <input type="radio" name=<%=`question${i}`%> value=<%=`${questionsArray[i].allAnswers[0]}`%>>
                <label for=<%=`${questionsArray[i].allAnswers[0]}`%>><%=`${questionsArray[i].allAnswers[0]}`%></label>
                <br>
                <input type="radio" name=<%=`question${i}`%> value="<%=`${questionsArray[i].allAnswers[1]}`%>">
                <label for=<%=`${questionsArray[i].allAnswers[1]}`%>><%=`${questionsArray[i].allAnswers[1]}`%></label>
                <br>
                <% if(questionsArray[i].type === "multiple") { %>
                    <input type="radio" name=<%=`question${i}`%> value="<%=`${questionsArray[i].allAnswers[2]}`%>">
                    <label for=<%=`${questionsArray[i].allAnswers[2]}`%>><%=`${questionsArray[i].allAnswers[2]}`%></label>
                    <br>
                    <input type="radio" name=<%=`question${i}`%> value="<%=`${questionsArray[i].allAnswers[3]}`%>">
                    <label for=<%=`${questionsArray[i].allAnswers[3]}`%>><%=`${questionsArray[i].allAnswers[3]}`%></label>
                    <br>
                <% } %>
            </div>
        <% } %>
        <div class="submitDiv">
            <input class="submitQuiz" type="submit" value="Submit">
        </div>
    </form>
</body>
</html>
